@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #6B7280;
    --dark-grey-color: #374151;
    --white-color: white;
    --light-grey: #E5E7EB;
}

hr {
    margin: 2rem;
}

/* container */
.container {
    padding: 1rem 1rem;
}

.center-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

/* Link */

.link {
    text-decoration: none;
    padding: 1rem 1rem;
    margin: 0.5rem 0.5rem;
    border-radius: 1rem;


}

.link-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.link-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

}

/* LIST */
.unorder {
    list-style: none;
}

.list {
    padding: 0rem 1rem;

}

.list-inline {
    display: inline;

}

/* navgition */

.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    color: var(--white-color);
}

.navigation .list-nav {
    text-align: right;
}

.navigation .list-nav .link {
    color: var(--white-color);
}


.navigation .list-nav .active-class {
    font-weight: bolder;

}

/* Header */
.hero .hero-heading {
    text-align: center;
    padding: 1rem;
    color: var(--primary-color);

}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading .heading-bold {

    color: var(--dark-grey-color);
}

/* section */
.ow {
    background-color: var(--light-grey);
}

/* Footer */
.footer {
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
}

a:hover {
    font-size: 1rem;
    font-weight: bolder;

}